TouchChart/TouchChart.xcodeproj/project.xcworkspace/xcshareddata
TouchChart/TouchChart.xcodeproj/xcuserdata/adam.xcuserdatad/xcdebugger/
TouchChart/TouchChart.xcodeproj/project.xcworkspace/xcuserdata/adam.xcuserdatad/WorkspaceSettings.xcsettings
